BasedOnStyle: LLVM
IndentWidth: 4
IndentExternBlock: Indent
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
SortIncludes: false
SortUsingDeclarations: Never
SpaceAfterTemplateKeyword: false
NamespaceIndentation: All
CompactNamespaces: true
PointerAlignment: Left